.project-global-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-div {
    width: 70%;
    margin: 1rem 0 0 0;
    min-height: calc(100dvh - 1rem);
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header-img {
    height: 10rem;
    width: 100%;
    background-color: #2d63b5;
    object-fit: cover;
}

.header {
    display: flex;
    background-color: yellow;
}

.global-content {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
}

.content {
    height: fit-content;
    word-break: break-word;
    color: black;
}