.project-global-div {
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: Arial, serif !important;
}

.project-div {
    width: 70%;
    margin: 1rem 0 0 0;
    min-height: calc(100dvh - 1rem);
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header-img {
    height: 10rem;
    width: 100%;
    background-color: #2d63b5;
    object-fit: cover;
}

.header {
	height: fit-content;
	padding: 1rem 0 1rem 0;
    display: grid;
	grid-template-columns: 1.2fr 1fr;
    background-color: whitesmoke;
}

.header .title {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 4rem;
	font-weight: 700;
	color: black;
}

.global-content {
    width: calc(100% - 2rem);
    height: 100%;
    padding: 1rem 1rem 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.content {
    height: fit-content;
    word-break: break-word;
    color: black;
}

.languages-tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 10px;
}

.languages-tools-icon {
	max-height: 3rem;
}