@font-face {
	font-family: Obitron;
	src: url("./assets/fonts/Obitron.ttf");
}

* {
	color: white;
}

#app {
	width: 100%;
	height: 100%;
}

body, html {
	margin: 0;
}

body {
	height: 100dvh;
	width: 100dvw;
	background: radial-gradient(ellipse at bottom, #151f2a 0%, #090a0f 100%);
	overflow: hidden;
}

